@charset "UTF-8";

/* ----------------------- */
/* base */
/* ----------------------- */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  color: #333;
}
img {
  width: 100%;
  vertical-align: bottom;
}
a {
  text-decoration: none;
  display: inline-block;
}
a:hover {
  opacity: .7;
  transition: .3s;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

/* ----------------------- */
/* header */
/* ----------------------- */
.header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  background-color: #fff;
  width: 100%;
  position: relative;
  z-index: 100;
}
.site_title img {
  height: 45px;
  width: 130px;
  padding-bottom: 16px;
  margin-top: 16px;
  margin-left: 16px;
}
.header h2 {
  font-size: 1.2rem;
  margin-top: 40px;
  position: absolute;
  left: 150px;
}
.contact_btn {
  width: 250px;
  text-align: center;
  font-size: 1.2rem;
  color:#fff;
  border: 1px solid #da6b64;
  background-color: #da6b64;
  border-radius: 16px;
  padding: .8rem; 
  margin-top: 10px;
  display: block !important;
  position: absolute;
  right: 0;
}
.button_icon {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 2px;
  top: 2px;
  border: 1px solid #da6b64;
  background-color: #da6b64;
  z-index: -1;
  display: none !important;
}
  
.cottact_btn_icon {
  font-size: 1rem;
  color: #fff;
  position: absolute;
  left: 3px;
  bottom: 0;
  display: none !important;

} 

.button_icon2 i {
  font-size: 23px;
  color: #fff;
  vertical-align: middle;
  /* position: relative;
  top: 8px;
  right: 10px; */
  display: none !important;
}

/* ----------------------- */
/* fv */
/* ----------------------- */
.fv_bg {
  width: 100%;
  min-height: 70vh;
  background-image: url(../image/main.jpg);
  background-size: cover;
  background-position: center 0;
  background-repeat: no-repeat;
  padding-top: 80px;
  position: relative;
  z-index: -1;
}
.main_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.sab_title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 1.8;
}
.title_lead {
  text-align: center;
  font-size: 2rem;
  line-height: 1.8;
}

/* ----------------------- */
/* CONTACT & DOCUMENT */
/* ----------------------- */
.document_section_wrapper {
  background-color: #EBB94D;
}
.document {
  text-align: center;
  color: #fff;
  padding-bottom: 80px;
}
.document_lead {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.8;
  padding-top: 32px;
  padding-bottom: 30px;
}
.document_comment {
  font-size: 1.2rem;
  color: red;
  border: 1px solid #fff;
  background-color: #fff;
  max-width: 350px;
  margin: 0 auto;
  padding: 4px;
  margin-bottom: 30px;
  
}

.period-pc {
  display: block;
  line-height: 3;
}
.period-sp {
  display: none;
}

input[type="submit"] {
  font-size: 1.5rem;
  letter-spacing: 5px;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
  max-width: 750px;
  border-radius: 30px;
  background-color: #da6b64;
  white-space: normal;
}



/* ----------------------- */
/* DESCRIBE */
/* ----------------------- */
.describe_bg {
  background-image: url(../image/introbottom.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 150vh;
  position: relative;
}
.yellow_brackets {
  width: 80%;
  padding: 30px;
  position: relative;
  margin-top: 50px;
  margin: 0 auto 50px;
}
.yellow_brackets::before, .yellow_brackets::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
}
.yellow_brackets::before {
  border-left: 3px solid #EBB94D;
  border-top: 3px solid #EBB94D;
  top: 50px;
  left: 0;
}
.yellow_brackets::after {
  border-right: 3px solid #EBB94D;
  border-bottom: 3px solid #EBB94D;
  right: 0;
}
.yellow_brackets h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 50px;
}
.describe {
  text-align: center;
  font-size: 1.6rem;
  line-height: 2;
}
.describe_lead1, .describe_lead2 {
  padding-bottom: 32px;
}
.describe_lead3 {
  padding-bottom: 100px;
}
.underline {
  background: linear-gradient(transparent 60%,#EBB94D);
}
.describe-pc {
  display: block;
}
.describe-sp{
  display: none;
}


/* ----------------------- */
/* ABOUT */
/* ----------------------- */
/* ----------------------- */
/* about_wrapper */
/* ----------------------- */
.about_wrapper {
  background-color: #fef5e0;
}
.about_isara {
  position: relative;
  top: -40px;
}
.about_icon {
  font-size: 1.3rem;
  color: #fff;
  text-align: center;
  border: 1px solid #EBB94D;
  background-color: #EBB94D;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
} 
.about_icon h2 {
  position: relative;
  bottom: -35px;
}
.about_isara_title {
  width: 80%;
  padding: 30px;
  position: relative;
  margin: 50px auto 50px;
}
.about_isara_title::before, .about_isara_title::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
}
.about_isara_title::before {
  border-left: 3px solid #da6b64;
  border-top: 3px solid #da6b64;
  top: 0;
  left: 0;
}
.about_isara_title::after {
  border-right: 3px solid #da6b64;
  border-bottom: 3px solid #da6b64;
  bottom: 0;
  right: 0;
}
.about_isara_title h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.8;
}
.about_isara_sab_title p {
  text-align: center;
  padding-bottom: 30px;
}
.about_isara_sab_title-sp p {
  text-align: center;
  padding-bottom: 30px;
  display: none;
}
.about_skill {
  border: 1px solid #da6b64;
  background-color: #fff;
  padding: 20px;
}
.border {
  margin-left: 50px;
  margin-right: 50px;
}
.about_skill_title h3 {
  font-size: 2rem;
  color: #333;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  display: block;
}
.about_skill_title-sp h3 {
  display: none;
}
.skill {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.about_skill_img {
  margin-bottom: 50px;
}
.about_skill_img img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%; 
  margin: 0 auto;
  display: block;
  margin-top: auto;
} 
.about_skill_img p {
  font-size: 1.1rem;
  text-align: center; 
  padding-top: 20px;
} 

/* ----------------------- */
/* about_step */
/* ----------------------- */
.about_step_bg {
  background-image: url(../image/download.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 120vh;
}
.about_step_title {
  font-size: 2.5rem;
  font-weight: normal;
  color: #fff;
  text-align: center;
  padding-top: 50px;
}
.about_step_text {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  line-height: 2;
}
.about_step_text span {
  color: #EBB94D;
}
.step {
  max-width: 300px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 20px auto;
}
.step h3 {
  color: #fff;
  text-align: center;
  max-width: 200px;
  border: 1px solid #EBB94D;
  background-color: #EBB94D;
  border-radius: 5px;
  margin: 0 auto;
}
.step p {
  font-size: 1rem;
  color: #333;
  text-align: center;
  line-height: 1.8;
  padding-top: 10px;
}
.step p span {
  font-size: 1.5rem;
}

.step_lead {
  font-size: 1.8rem;
  color: #fff;
  background-color: #146ea9;
  text-align: center;
  line-height: 1.8;
  border: 1px solid #146ea9;
  padding: 40px 0;
  display: block;
}
.step_lead span {
  color: #EBB94D;
}
.step_lead-sp {
  display: none;
}

/* ----------------------- */
/* about_study */
/* ----------------------- */
.about_study_title h2 {
  font-size: 3rem;
  color: #333;
  text-align: center;
  padding: 80px 0;
}
.about_study_lead {
  font-size: 1.8rem;
  color: #333;
  text-align: center;
  padding-bottom: 20px;
  display: block;
}
.about_study_lead-sp {
  display: none;
}
.stydy_contents {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.study_contents_img img {
  max-width: 150px;
  padding: 10px;
}
.sytdy_comment {
  font-size: 1.5rem;
  text-align: center;
  padding: 80px 0;
}

/* ----------------------- */
/* about_merit */
/* ----------------------- */
.about_merit {
  background-color: #fef5e0;
}
.about_merit_title {
  width: 80%;
  padding: 30px;
  position: relative;
  margin: 0 auto 50px;
}
.about_merit_title::before, .about_merit_title::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
}
.about_merit_title::before {
  border-left: 3px solid #da6b64;
  border-top: 3px solid #da6b64;
  top: 0;
  left: 0;
}
.about_merit_title::after {
  border-right: 3px solid #da6b64;
  border-bottom: 3px solid #da6b64;
  bottom: 0;
  right: 0;
}
.about_merit_title h2 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  padding-top: 10px;
}
.about_merit_sub_title {
  text-align: center;
  padding-top: 50px;
  display: block;
}
.about_merit_sub_title-sp {
  display: none;
}

.about_merit_flex {
  display: flex;
  justify-content: center;
}
.about_merit_img {
  width: 100%;
  /* max-width: 300px; */
  padding: 0 10px;
}
.about_merit_img h3 {
  color: #EBB94D;
  font-size: 1.8rem;
  text-align: center;
  padding: 20px 0;
}
.about_merit_img p {
  font-size: 1.5rem;
  line-height: 1.4;
  padding-bottom: 100px;
}
.about_suppot {
  max-width: 800px;
  border: 2px solid #EBB94D;
  background-color: #fff;
  margin: 0 auto;
}
.support h2 {
  font-size: 2.5rem;
  text-align: center;
  color: #EBB94D;
  padding: 40px;
}
.support h3 {
  text-align: center;
  padding-bottom: 30px;
}
.support p {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.8;
  padding-bottom: 50px;
}
.support_lead {
  font-size: 1.2rem;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

/* ----------------------- */
/* MEMBER */
/* ----------------------- */
.member_bg {
  background-image: url(../image/teacherbg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}
.member_title h2 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #fff;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
}
.member_title p {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  padding-bottom: 50px;
}
.founding_member {
  display: flex;
  justify-content: center;
}
.teacher_flex{
  margin: 20px;
}
.teacher1 {
  background-image: url(../image/keisuke_someya.jpg);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  padding: 50px;
  position: relative;
  bottom: -50px;
  margin: 0 auto;
}
.teacher2 {
  background-image: url(../image/yuki.png);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  padding: 50px;
  position: relative;
  bottom: -50px;
  margin: 0 auto;
}

.teacher3 {
  background-image: url(../image/manabu.png);
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  padding: 50px;
  position: relative;
  bottom: -50px;
  margin: 0 auto;
}

.teacher_boder {
  border: 2px solid #fff;
  width: 100%;
  max-width: 250px;
  margin-bottom: 200px;
}


.teacher {
  font-size: 1.2rem;
  color: #ddd;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 20px;
}
.neme {
  color: #ddd;
  text-align: center;
  padding-bottom: 20px;
}
.teacher_lead {
  font-size: 1.3rem;
  color: #ddd;
  line-height: 2;
  padding: 0 20px;
  padding-bottom: 20px;
}

/* ----------------------- */
/* QUESTION */
/* ----------------------- */
.question_inner {
  background-color: #EBB94D;
  padding: 10px 0;
  position: relative;
}
.question_inner::after {
  width: 0;
  height: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  margin: 0 0 0 -50px;
  border: 50px solid transparent;
  border-top-color: #EBB94D;
  content: "";
}
.question_title {
  width: 80%;
  padding: 30px;
  position: relative;
  margin: 50px auto 50px;
}
.question_title::before, .question_title::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
}
.question_title::before {
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  top: 0;
  left: 0;
}
.question_title::after {
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  bottom: 0;
  right: 0;
}
.question_icon {
  text-align: center;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.question_icon h2 {
  font-size: 2rem;
  color: #EBB94D;
  position: relative;
  top: 40px;
}
.question_lead h3 {
  text-align: center;
  font-size: 2.5rem;
  color: #fff;
  font-weight: 500;
  line-height: 2;
}

.answer_voice h2 {
  font-size: 2.5rem;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 50px;
}
.voice {
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 20px;
}
.message {
  font-size: 1.3rem;
  text-align: center;
  padding-bottom: 50px;
}

.answer {
  display: flex;
}

.answer_img1 img {
  width: 150px;
  height: 150px;
  border: 3px solid #EBB94D;
  margin-left: 4vw;
  margin-bottom: 50px;

}
.answer_img2 img{
  width: 150px;
  height: 150px;
  border: 3px solid #EBB94D;
  margin-left: 4vw;
  margin-bottom: 50px;

}
.answer_img3 img{
  width: 150px;
  height: 150px;
  border: 3px solid #EBB94D;
  margin-left: 4vw;
  margin-bottom: 100px;

}

.answer_lead h3 {
  font-style: italic;
  font-size: 2rem;
  color: #b4b4b4;
  font-weight: normal;
  width: 80%;
  line-height: 1.8;
}
.answer_lead p {
  font-style: italic;
  font-size: 1.5rem;
  color: #b4b4b4;
  font-weight: normal;
  padding-left: 4vw;
  border-bottom: 1px solid #b4b4b4;
  display: inline-block;
}

/* ----------------------- */
/* STUDY */
/* ----------------------- */
.study_contents_bg {
  background-image: url(../image/classbg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
}
.study_contents_title h2{
  font-size: 2.5rem;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.study_contents_title p{
  font-size: 2rem;
  color: #fff;
  text-align: center;
  padding-bottom: 40px;
}
.study_inner {
  display: flex;
  justify-content: center;
}
.befor_study {
  border: 3px solid #146ea6;
  background-color: #fff;
  margin: 20px;
  margin-bottom: 100px;
}
.befor_study h3 {
  color: #fff;
  text-align: center;
  border: 1px solid #146ea6;
  background-color: #146ea6;
  padding: 20px;
}
.befor_study li {
  font-size: 1.5rem;
  text-align: center;
  list-style: none;
  border-bottom: 1px solid #ddd;
  padding: 15px 10px;
}
.bangkok_study {
  border: 3px solid #146ea6;
  background-color: #fff;
  margin: 20px;
  margin-bottom: 100px;
}
.bangkok_study h3 {
  color: #fff;
  text-align: center;
  border: 1px solid #146ea6;
  background-color: #146ea6;
  padding: 20px;
}
.bangkok_study li {
  font-size: 1.5rem;
  text-align: center;
  list-style: none;
  border-bottom: 1px solid #ddd;
  padding: 15px 10px;
}
.sutdy_lead {
  font-size: 2rem;
  color: #fff;
  font-weight: normal;
  text-align: center;
  background-color: #146ea6;
  padding: 50px 0;
  line-height: 2.5;
}

/* ----------------------- */
/* COURSE FLOW */
/* ----------------------- */
.courseflow_title h2 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #333;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 40px;
}
.flow_img {
  max-width: 90%;
  margin: 0 auto ;
  margin-bottom: 100px;
}
.courseflow_contents_title img {
  width: 300px;
}
.courseflow_contents_title h3 {
  font-size: 1.5rem;
  /* text-align: center; */
  line-height: 1.4;
  white-space: nowrap;
  padding-top: 20px;
}

.container {
  display: block;
}
.courseflow_img {
  display: flex;
  border: 1px solid #fef5e0;
  background-color: #fef5e0;
  border-radius: 10px;
  padding: 50px 100px;
  margin: 0 50px;
}
.courseflow_contents_title img {
  max-width: 100px;
}
.courseflow_contents {
  max-width: 80%;
  padding-left: 50px;
}
.flow_line img {
  display: block;
  margin: 0 auto;
  max-width: 60%;
  height: 80px;
}
.attention {
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 20px;
}
.test {
  font-size: 1.4rem;
  font-weight: 700;
  padding-bottom: 20px;
}
.consultant_lead {
  font-size: 1.2rem;
  line-height: 1.4;
}
.courseflow_contents h4 {
  font-size: 1.4rem;
  padding-bottom: 30px;
}
.preworks_send {
  font-size: 1.2rem;
  line-height: 1.4;
}
.preworks_explain {
  font-size: 1.2rem;
  line-height: 1.4;
}
.orientation {
  line-height: 1.4;
}
.life_support {
  line-height: 1.4;
}
.orientation {
  line-height: 1.4;
}
.freelance_support {
  font-size: 1.2rem;
}
.community {
  font-size: 1.2rem;
  line-height: 1.4;
}
.jobs_support {
  font-size: 1.2rem;
  line-height: 1.4;
}


/* courseflow_acd SP ----------------*/
.courseflow_img-sp {
  display: none;
}

.courseflow_acd-check {
  display: none;
}
.courseflow_acd-label {
  background-color: #fef5e0;
  color: #333;
  border: 1px solid #fef5e0;
  display: block;
  margin-bottom: 1px;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}
.courseflow_acd-label::after {
  box-sizing: border-box;
  content: '\f078';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: #333;
  height: 50px;
  position: absolute;
  right: 2vw;
  top: 15px;
}
.courseflow_acd-content {
  max-width: 600px;
  height: 0;
  opacity: 0;
  padding: 5px 20px;
  transition: .3s;
  visibility: hidden;
  margin: 0 auto;
}
.courseflow_acd-check:checked + .courseflow_acd-label::after {
  content: '\f078';
}
.courseflow_acd-check:checked + .courseflow_acd-label + .courseflow_acd-content {
  height: 130px;
  opacity: 1;
  visibility: visible;
  background-color: #fef5e0;
}
.courseflow_acd-label h3 {
  font-size: 1.5rem;
  font-weight: normal;
  display: inline-block;
  border-bottom: 1px solid #333;
}
.courseflow_acd-content h4 {
  font-size: 1.5rem;
  font-weight: normal;
  padding-bottom: 10px;
}
.courseflow_contents_title-sp {
  display: flex;
  align-items: center;
}
.courseflow_contents_title-sp img {
  max-width: 35px;
  margin-right: 10px;
}






/* ----------------------- */
/* Reason_Bangkok */
/* ----------------------- */
.bangkok_bg {
  background-image: url(../image/bangkokbg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  min-height: 50px;
  margin-top: 50px;
}
.bangkok_title {
  padding-left: 50px;
}
.bangkok_title h2 {
  font-size: 2.8rem;
  color: #fff;
  font-weight: 500;
  letter-spacing: 5px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.bangkok_title p {
  font-size: 1.2rem;
  color: #fff;
  line-height: 1.6;
  padding-bottom: 10px;
}
.bangkok_title li { 
  font-size: 1.5rem;
  color: #fff;
  line-height: 2;
}
.bangkok_title h3 {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 500;
  padding-top: 30px;
  padding-bottom: 50px;
}

/* ----------------------- */
/* Special */
/* ----------------------- */
.special {
  background-color: #f7c23c;
}
.special_title h2 {
  font-size: 2.5rem;
  color: #333;
  font-weight: 500;
  text-align: center;
  padding: 50px 0;
}
.eternal_support {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}
.eternal_support span {
  color: #333;
}
.plus_special_title {
  font-size: 2.3rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 3px;
  line-height: 1.5;
  border: 1px solid #f7c23c;
  background-color: #f7c23c;
  max-width: 100%;
  width: 400px;
  margin: 0 auto;
  position: relative;
  bottom: -30px;
  margin-top: 50px;
  z-index: 1;
}
.special_contents {
   display: flex;
   justify-content: center;
   position: relative;
}
.special_contents_boder {
  display: flex;
  border: 3px solid #fff;
  padding: 50px;
  margin-bottom: 100px; 
}
.special_gift {
  max-width: 250px;
  height: 250px;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  margin: 10px; 
}
.special_gift h2 {
  text-align: center;
  color: #f7c23c;
  font-size: 2.5rem;
  font-weight: 500;
  padding-top: 50px;
}
.special_gift p {
  font-size: 1.5rem;
  color: #333;
  line-height: 1.5;
  padding: 30px;
}

/* special-sp ------*/
.special-sp {
  background-color: #55acee;
  display: none;
}
.special_title-sp h2 {
  font-size: 2.2rem;
  color: #333;
  font-weight: 500;
  text-align: center;
  padding: 50px 0;
}
.eternal_support-sp {
  font-size: 1.1rem;
  color: #fff;
  text-align: center;
}
.eternal_support-sp span {
  color: #333;
}
.plus_special_title-sp {
  font-size: 2.3rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 3px;
  line-height: 1.5;
  border: 1px solid #f7c23c;
  background-color: #f7c23c;
  max-width: 100%;
  width: 300px;
  margin: 0 auto;
  position: relative;
  bottom: -30px;
  margin-top: 50px;
  z-index: 1;
}
.special_contents_boder-sp {
  display: block;
  border: 3px solid #333;
  padding: 15px 30px; 
  margin: 0 20px;
}
.special_gift-sp {
  display: flex;
  align-items: center;
  width: 100%;
}
.special_gift-sp h2 {
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 70px;
  color: #f7c23c;
  font-size: 1.3rem;
  font-weight: 500;
  border: 1px solid #fff;
  background-color: #fff;
  border-radius: 50%;
  margin: 20px;
}
.special_gift-sp p {
  width: 100%;
  font-size: 1.1rem;
  color: #333;
  line-height: 1.5;
}

/* ----------------------- */
/* Earn_Engineer */
/* ----------------------- */
.earn_engineer_bg {
  background-image: url(../image/specialdetail.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 80vh;
}
.earn_engineer_title1 h2{
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
  display: block;
}
.earn_engineer_title1-sp h2{
  display: none;
}
.earn_engineer_lead1 {
  font-size: 1.3rem;
  color: #fff;
  text-align: center;
  line-height: 1.8;
  letter-spacing: 3px;
  display: block;
}
.earn_engineer_lead1-sp {
  display: none;
}
.earn_engineer_title2 {
  width: 80%;
  padding: 50px;
  position: relative;
  margin: 30px auto 30px;
  display: block;
}
.earn_engineer_title2 h2 {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  display: block;
}
.earn_engineer_title2-sp h2 {
  display: none;
}
.earn_engineer_title2-sp::before, .earn_engineer_title2-sp::after {
  display: none;
}
.earn_engineer_title2::before, .earn_engineer_title2::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  display: block;
}
.earn_engineer_title2-sp::before {
  display: none;
}
.earn_engineer_title2::before {
  border-left: 3px solid #fff;
  border-top: 3px solid #fff;
  top: 0px;
  left: 0;
  display: block;
}
.earn_engineer_title2-sp::after {
  display: none;
}
.earn_engineer_title2::after {
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  bottom: 0;
  right: 0;
  display: block;
}
.earn_engineer_lead2 {
  font-size: 1.3rem;
  color: #fff;
  text-align: center;
  line-height: 1.8;
  letter-spacing: 3px;
  padding-bottom: 50px;
  display: block;
}
.earn_engineer_lead2-sp {
  display: none;
}

/* ----------------------- */
/* Founder Message */
/* ----------------------- */
.founder_message_lead {
  display: flex;
  margin: 30px;
}
.founder_message_title h2 {
  font-size: 2.5rem;
  font-weight: 500;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
}
.founder_message_title h3 {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  padding-bottom: 50px;
}
.founder_img {
  width: 100%;
}
.message_contents {
  width: 100%;
  max-width: 800px;
  padding-left: 50px;
  padding-bottom: 80px;
}
.message_contents_lead {
  font-size: 1.5rem;
  padding-bottom: 30px;
}

/* ----------------------- */
/* Contact */
/* ----------------------- */
.contact {
  background-color: #EBB94D;
}
.contact_title h2 {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 50px;
}
.contact_title p {
  font-size: 1.5rem;
  color: #333;
  text-align: center;
  padding-bottom: 50px;
}
form div {
  text-align: center;
  margin-bottom: 30px;
}
input[type="text"],
input[type="text"],
input[type="email"],
textarea {
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 20px;
}
input[type="text"],
input[type="text"],
input[type="email"] {
  width: 100%;
  max-width: 700px;
}
textarea {
  width: 100%;
  max-width: 700px;
  height: 8rem;
}
input[type="submit"] {
  font-size: 2rem;
  letter-spacing: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 50px;
  max-width: 750px;
  border-radius: 30px;
  background-color: #da6b64;
  margin-bottom: 100px;
}

/* ----------------------- */
/* Question */
/* ----------------------- */
.question_title {
  font-size: 2.5rem;
  color: #333;
  text-align: center;
}
.acd-check {
  display: none;
}
.acd-label {
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  display: block;
  margin-bottom: 1px;
  padding: 20px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}
.acd-label::after {
  box-sizing: border-box;
  content: '\f078';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: #ddd;
  height: 50px;
  position: absolute;
  right: 2vw;
  top: 15px;
}
.acd-content {
  max-width: 800px;
  height: 0;
  opacity: 0;
  padding: 0 10px;
  transition: .3s;
  visibility: hidden;
  margin: 0 auto;
}
.acd-check:checked + .acd-label::after {
  content: '\f078';
}
.acd-check:checked + .acd-label + .acd-content {
  height: 50px;
  opacity: 1;
  padding: 10px;
  visibility: visible;
}

/* ----------------------- */
/* footer */
/* ----------------------- */
footer {
  background-color: #ececec;
  margin-top: 100px;
  position: relative;
}
footer p {
  font-size: 1.2rem;
  text-align: center;
  padding: 10px 0;
}

.scroll {
  font-size: 5rem;
  color: #333;
  border: 1px solid #ddd;
  background-color: #ddd;
  position: absolute;
  top: 55%;
  right: 4vw;
  line-height: 1;
  z-index: 100;
  position: fixed;
  padding: 0 10px;  
}



#content{
  position: relative;
}

#topBtn {
  /*-----必須-----*/
  position: fixed;
  bottom: 50px;
  right: 50px;
   
  /*-----装飾-----*/
  width: 64px;
  line-height: 4;
  text-align: center;
  background-color: #ddd;
  color: #333;
  padding-top: 5px;
}





.twitter {
  font-size: 1.2rem;
  background-color: #55acee;
  border: 2px solid #55acee;
  border-radius: 5px;
  color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  padding: 4px 20px;
  display: block;
  text-align: center;
  max-width: 40px;
  margin: 0 auto;
}
.twitter:hover {
  background-color: #fff;
  color: #55acee;
}

.name {
  padding-top: 40px;
  padding-bottom: 30px;
}





/* pc-2版の記述 */
@media screen and (max-width: 990px) {
  /* ----------------------- */
  /* member pc-2 */
  /* ----------------------- */
  /* ----------------------- */
  /* MEMBER */
  /* ----------------------- */

  .founding_member {
    flex-direction: column;
  }
  .teacher_flex {
    margin-bottom: 30px;
  }
  .teacher1 {
    margin: 0 auto;  
  }
  .teacher2 {
    margin: 0 auto;
  }

  .teacher3 {
    margin: 0 auto;
  }

  .teacher_boder {
    border: 2px solid #fff;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
  }

  .teacher {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 20px;
  }
  .neme {
    color: #fff;
    text-align: center;
    padding-bottom: 20px;
  }
  .teacher_lead {
    font-size: 1.3rem;
    color: #ddd;
    line-height: 2;
    padding: 0 20px;
    padding-bottom: 20px;
  }

  /* ----------------------- */
  /* QUESTION pc-2 */
  /* ----------------------- */
  .answer_lead h3 {
    font-style: italic;
    font-size: 1.5rem;
    color: #b4b4b4;
    font-weight: normal;
    line-height: 1.8;
    padding-left: 30px;
  }
  .answer_lead p {
    font-style: italic;
    font-size: 1.2rem;
    color: #b4b4b4;
    font-weight: normal;
    padding-left: 50px;
    padding-top: 20px;
    border-bottom: 1px solid #b4b4b4;
  }

  /* ----------------------- */
  /* STUDY pc-2 */
  /* ----------------------- */
  .study_inner {
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
  }
  .befor_study {
    margin: 0;
  }
  .bangkok_study {
    margin: 20px 0;
  }
  .sutdy_lead{
    font-size: 1.5rem;
    font-weight: normal;
  }

  /* ----------------------- */
  /* Special pc-2 */
  /* ----------------------- */
  .special_contents_boder {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 0 4vw;
    margin-bottom: 100px;
  }

  /* ----------------------- */
  /* Founder Message pc-2 */
  /* ----------------------- */
  .founder_message_lead {
    flex-direction: column;
    align-items: flex-start;
  }
  .founder_img img {
    width: 100%;
  }
  .message_contents {
    margin-top: 30px;
    padding-left: 0;
  }
  .message_contents_lead {
    font-size: 1.4rem;
  }
  .message_contents_lead-li {
    font-size: 1.4rem;
    margin-left: 20px;
    margin-bottom: 20px;
  }


}










/* tb版の記述 */
@media screen and (max-width: 768px) {
  /* ----------------------- */
  /* header tb */
  /* ----------------------- */
  .header {
    position: relative;
    position: fixed;
    height: 55px;
  }
  .site_title img {
    height: 35px;
    width: 100px;
    padding-bottom: 16px;
    margin-top: 20px;
    margin-left: 16px;
    position: absolute;
    top: 0;
  }
  .header h2 {
    font-size: 1rem;
    position: absolute;
    top: -30px;
    left: 20px;  
  }
  button {
    margin: 0;
    padding: 0;
  }
  .contact_btn {
    display: none !important;
  }
  .cottact_btn_icon {
    font-size: 1.5rem;
    display: block !important;
  }
  .button_icon {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 2px;
    top: 2px;
    border: 1px solid #da6b64;
    background-color: #da6b64;
    z-index: -1;
    display: block !important;
  }
  .button_icon p {
    font-size: 1rem;
    color: #fff;
    position: absolute;
    left: 3px;
    bottom: 0;
    display: block !important;
  }  
  .button_icon2 i {
    color: #fff;
    position: absolute;
    top: 8px;
    right: 10px;
    display: block !important;
  }
   /* ----------------------- */
  /* FV tb */
  /* ----------------------- */
  .fv_bg {
    background-image: url(../image/mainsp.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 50vh;
  }
  .sab_title {
    font-size: 1.8rem;
    font-weight: normal;
  }
  .title_logo img {
     padding: 0;
  }

  /* ----------------------- */
  /* CONTACT & DOCUMENT tb */
  /* ----------------------- */
  button {
    word-wrap: break-word;
    font-size: 1.5rem;
    letter-spacing: 10px;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
    max-width: 500px;
    border-radius: 30px;
    background-color: #da6b64;
    margin-bottom: 100px;
  }
  
  .contact_document_btn {
    font-size: 1.5rem;
  }

  .period-pc {
    display: none; 
  }
  .period-sp {
    display: block;
    line-height: 2;
    padding-top: 20px;
  }
  .period-sp p {
    padding-bottom: 30px;
  }

  /* ----------------------- */
  /* DESCRIBE tb */
  /* ----------------------- */
  .describe_bg-sp {
    background-image: url(../image/introbottom.jpg);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100vh;
    position: relative;
  }
  .yellow_brackets-sp {
    width: 80%;
    padding: 30px;
    position: relative;
    margin-top: 50px;
    margin: 0 auto;
  }
  .yellow_brackets-sp::before, .yellow_brackets-sp::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
  }
  .yellow_brackets-sp::before {
    border-left: 3px solid #EBB94D;
    border-top: 3px solid #EBB94D;
    top: 50px;
    left: 0;
  }
  .yellow_brackets-sp::after {
    border-right: 3px solid #EBB94D;
    border-bottom: 3px solid #EBB94D;
    right: 0;
  }
  .yellow_brackets-sp h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    padding-top: 30px;
  }
  .describe-sp {
    text-align: center;
    font-size: 1.6rem;
    line-height: 2;
  }
  .describe_lead1-sp {
    margin-top: 50px;
  }
  .describe_lead1-sp, .describe_lead2-sp, .describe_lead3-sp {
    font-size: 1.4rem;
    padding-bottom: 32px;
  }
  .describe_lead4-sp {
    font-size: 1.4rem;
    padding-bottom: 200px;
  }
  .underline-sp {
    background: linear-gradient(transparent 60%,#EBB94D);
  }
  .describe-pc {
    display: none;
  }
  .describe-sp {
    display: block;
  }

  /* ----------------------- */
  /* ABOUT tb */
  /* ----------------------- */
  /* ----------------------- */
  /* about_wrapper tb */
  /* ----------------------- */
  .about_isara_title h2 {
    font-size: 2rem;
  }
  .about_isara_sab_title p {
    text-align: center;
    padding-bottom: 30px;
    display: none;
  }
  .about_isara_sab_title-sp p {
    text-align: center;
    line-height: 1.8;
    padding-bottom: 30px;
    display: block;
  }
  .about_skill_title h3 {
    display: none;
  }
  .about_skill_title-sp h3 {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 3px;
    padding-top: 20px;
    display: block;
  }
  
  .about_skill_img {
    margin-bottom: 50px;
  }
  .about_skill_img img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%; 
    margin: 0 auto;
    display: block;
    margin-top: auto;
  } 
  .about_skill_img p {
    font-size: 1.1rem;
    text-align: center; 
    padding-top: 20px;
  } 

  /* ----------------------- */
  /* about_step tb */
  /* ----------------------- */
  .step {
    max-width: 700px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #fff;
    padding: 20px 0;
    margin: 20px auto;
  }
  .step h3 {
    font-size: 1.2rem;
    color: #fff;
    text-align: center;
    max-width: 500px;
    border: 1px solid #EBB94D;
    background-color: #EBB94D;
    border-radius: 5px;
    padding: 3px 0;
    margin: 0 auto;
  }
  .step p {
    font-size: 1.2rem;
    color: #333;
    text-align: center;
    line-height: 1.8;
    padding-top: 10px;
  }
  .step p span {
    font-size: 1.2rem;
  }
  .step_lead {
    display: none;
  }  
  .step_lead-sp {
    font-size: 1.5rem;
    color: #fff;
    background-color: #146ea9;
    text-align: center;
    line-height: 1.8;
    border: 1px solid #146ea9;
    padding: 40px 0;
    display: block;
  }
  .step_lead-sp span {
    color: #EBB94D;
  }
  
  /* ----------------------- */
  /* about_study  tb */
  /* ----------------------- */
  .about_study_title h2 {
    font-size: 2rem;
    color: #333;
    text-align: center;
    padding: 80px 0;
  }
  .about_study_lead {
    display: none;
  }
  .about_study_lead-sp {
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    line-height: 1.8;
    padding-bottom: 20px;
    display: block;
  }
  .stydy_contents {
    display: flex;
    justify-content: center;
  }
  .study_contents_img img {
    width: 100%;
    max-width: 130px;
   
  }
  .sytdy_comment {
    font-size: 1.5rem;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0;
  }

  /* ----------------------- */
  /* about_merit */
  /* ----------------------- */
  .about_merit_sub_title {
    text-align: center;
    padding-top: 50px;
    display: none;
  }
  .about_merit_sub_title-sp {
    text-align: center;
    padding-top: 50px;
    display: block;
  }
  .about_merit_flex {
    flex-direction: column;
  }
  .about_merit_img img{
    width: 100%;
    height: 120px;
    object-fit: cover;
    margin: 10px 0;
  }
  .about_merit_img h3 {
    color: #EBB94D;
    font-size: 1.8rem;
    text-align: center;
    padding: 20px 0;
  }
  .about_merit_img p {
    font-size: 1.3rem;
    line-height: 1.4;
    width: 90%;
    padding-bottom: 50px;
    padding-left: 4vw;
  }
  .about_suppot {
    width: 100%;
    max-width: 700px;
    border: 2px solid #EBB94D;
    background-color: #fff;
    margin: 0 auto;
  }
  .support h2 {
    font-size: 1.8rem;
    text-align: center;
    color: #EBB94D;
    padding: 20px;
  }
  .support h3 {
    font-size: 1.5rem;
    text-align: center;
    padding-bottom: 20px;
  }
  .support p {
    font-size: 1rem;
    text-align: center;
    line-height: 1.8;
    padding-bottom: 20px;
  }
  .support_lead {
    font-size: 1.2rem;
    text-align: center;
    width: 90%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0 auto;
  }

  /* ----------------------- */
  /* STUDY */
  /* ----------------------- */
  .study_inner {
    width: 90%;
    margin: 0 auto;
  }
  .befor_study li {
    font-size: 1.2rem;
  }
  .bangkok_study li {
    font-size: 1.2rem;
  }

  /* courseflow_acd SP ----------------*/

  .courseflow_img {
    display: none;
  }
  .flow_line {
    display: none;
  }
  .courseflow_img-sp {
    display: block;
  }

  /* ----------------------- */
  /* Special tb */
  /* ----------------------- */
  .special {
    background-color: #f7c23c;
    display: none;
  }
  /* special-sp ------*/
  .special-sp {
    background-color: #f7c23c;
    display: block;
  }
  .special_title-sp h2 {
    font-size: 2.2rem;
    color: #333;
    font-weight: 500;
    text-align: center;
    padding: 50px 0;
    display: block;
  }
  .eternal_support-sp {
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
    line-height: 1.5;
  }
  .eternal_support-sp span {
    color: #333;
  }
  .plus_special_title-sp {
    font-size: 2.3rem;
    font-weight: 500;
    text-align: center;
    letter-spacing: 3px;
    line-height: 1.5;
    border: 1px solid #f7c23c;
    background-color: #f7c23c;
    max-width: 100%;
    width: 300px;
    margin: 0 auto;
    position: relative;
    bottom: -50px;
    margin-top: 50px;
    z-index: 1;
    display: block;
  }
  .special_contents_boder-sp {
    display: inline-block;
    border: 3px solid #fff;
    padding: 15px 30px; 
    margin: 20px;
  }
  .special_gift-sp {
    display: flex;
    align-items: center;
    width: 100%;
  }
  .special_gift-sp h2 {
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    color: #f7c23c;
    font-size: 1.3rem;
    font-weight: 500;
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 20px 20px;
    display: block;
  }
  .special_gift-sp p {
    width: 100%;
    font-size: 1.1rem;
    color: #fff;
    line-height: 1.5;
    display: block;
  }
  
  
  /* ----------------------- */
  /* Earn_Engineer tb */
  /* ----------------------- */
  .earn_engineer_title1 h2{
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 50px;
    display: none;
  }
  .earn_engineer_title1-sp h2{
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    line-height: 1.8;
    padding-top: 50px;
    padding-bottom: 30px;
    display: block;
  }
  .earn_engineer_lead1 {
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 3px;
    display: none;
  }
  .earn_engineer_lead1-sp {
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 3px;
    display: block;
  }
  .earn_engineer_title2 {
    width: 80%;
    padding: 50px;
    position: relative;
    margin: 30px auto 30px;
    display: none;
  }
  .earn_engineer_title2-sp {
    width: 80%;
    padding: 50px;
    position: relative;
    line-height: 1.8;
    margin: 30px auto 30px;
    display: block;
  }
  .earn_engineer_title2 h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    display: none;
  }
  .earn_engineer_title2-sp h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    display: block;
  }
  .earn_engineer_title2-sp::before, .earn_engineer_title2-sp::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
  }
  .earn_engineer_title2::before, .earn_engineer_title2::after {
    content: "";
    width: 40px;
    height: 40px;
    position: absolute;
    display: none;
  }
  .earn_engineer_title2-sp::before {
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
    top: 0px;
    left: 0;
    display: block;
  }
  .earn_engineer_title2::before {
    border-left: 3px solid #fff;
    border-top: 3px solid #fff;
    top: 0px;
    left: 0;
    display: none;
  }
  .earn_engineer_title2-sp::after {
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    bottom: 0;
    right: 0;
    display: block;
  }
  .earn_engineer_title2::after {
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    bottom: 0;
    right: 0;
    display: none;
  }
  .earn_engineer_lead2 {
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 3px;
    padding-bottom: 50px;
    display: none;
  }
  .earn_engineer_lead2-sp {
    font-size: 1.3rem;
    color: #fff;
    text-align: center;
    line-height: 1.8;
    letter-spacing: 3px;
    padding-bottom: 50px;
    display: block;
  }

  /* ----------------------- */
  /* Contact tb */
  /* ----------------------- */
  input[type="text"],
  input[type="text"],
  input[type="email"] {
    width: 80%;
  }
  textarea {
    width: 80%;
  }
  input[type="submit"] {
    width: 80%;
  }

  /* ----------------------- */
  /* Question tb */
  /* ----------------------- */
  .question_title {
    font-size: 2rem;
    color: #333;
    text-align: center;
  }
  .acd-check {
    display: none;
  }
  .acd-label {
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    display: block;
    padding: 10px;
    width: 90%;
    margin: 2px auto;
    position: relative;
  }
  .acd-label::after {
    box-sizing: border-box;
    content: '\f078';
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 20px;
    color: #ddd;
    height: 50px;
    position: absolute;
    right: 2vw;
    top: 15px;
  }
  .acd-label p {
    font-size: 1.3rem;
  }
  
  .acd-content {
    width: 90%;
    height: 0;
    opacity: 0;
    padding: 0 10px;
    transition: .3s;
    visibility: hidden;
    margin: 0 auto;
  }
  .acd-content {
    font-size: 1.3rem;
  }
  .acd-check:checked + .acd-label::after {
    content: '\f078';
  }
  .acd-check:checked + .acd-label + .acd-content {
    height: 50px;
    opacity: 1;
    padding: 10px;
    visibility: visible;
  }
  
}


@media screen and (max-width: 480px) {
  /* ----------------------- */
  /* QUESTION sp */
  /* ----------------------- */ 
  .answer_lead h3 {
    padding-top: 10px;
    font-size: 1.2rem;
  }
  .answer_lead p {
    font-size: 1.1rem;
  }




}



   










